[submodule "SmartVolt"]
	path = SmartVolt
	url = git@github.com:TQS-Project-SmartVolt/SmartVolt.git
[submodule "Documentation"]
	path = Documentation
	url = git@github.com:TQS-Project-SmartVolt/Documentation.git
[submodule "AppConfig"]
	path = AppConfig
	url = git@github.com:TQS-Project-SmartVolt/AppConfig.git
[submodule "Backend"]
	path = Backend
	url = git@github.com:TQS-Project-SmartVolt/Backend.git
[submodule "Frontend"]
	path = Frontend
	url = git@github.com:TQS-Project-SmartVolt/Frontend.git
