[submodule "SmartVolt"]
	path = SmartVolt
	url = git@github.com:jpapinto/SmartVolt.git
[submodule "Documentation"]
	path = Documentation
	url = git@github.com:jpapinto/Documentation.git
[submodule "AppConfig"]
	path = AppConfig
	url = git@github.com:jpapinto/AppConfig.git
[submodule "Backend"]
	path = Backend
	url = git@github.com:jpapinto/Backend.git
[submodule "Frontend"]
	path = Frontend
	url = git@github.com:jpapinto/Frontend.git
